body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
}

.App {
    text-align: center;
    display: grid;
    justify-content: center;
}

.App-header {
    background-color: #222;
    width: 100vw;
    height: 70px;
    padding: 20px;
    color: white;
    margin-bottom: 10px;
}

.App-title {
    font-size: 1.5em;
}

.App-inputs label {
    width: 80vw;
    margin-right: 10px;
}

.App-inputs input {
    width: 50px;
    text-align: right;
}

.App-inputs button {
    margin-right: 10px;
}

.App-inputs button:last-of-type {
    margin-right: 0px;
}

.App-results {
    margin: 15px;
    justify-self: center;
    /* width: 80vw; */
    border: 1px solid #000;
    padding: 10px;
}

.App-results h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.App-results .result {
    margin: 5px;
    border-bottom: 1px solid gray;
}

.App-results .result:last-of-type {
    border-bottom: none;
}

.App-error {
    margin: 15px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    justify-self: center;
    width: 80vw;
    background: rgb(163, 17, 46);
}